---
const { subtitle, nameId } = Astro.props
---

<section id={nameId} class="w-full bg-eucalyptus-50 px-3 md:py-24 py-10">
  <div class="max-w-7xl m-auto">
    <h2 class="md:text-6xl text-2xl text-eucalyptus-900 font-light text-center">
      {subtitle}
    </h2>
  </div>
</section>
