---
import "photoswipe/style.css"
// import "@videojs/themes/dist/forest/index.css"
---

<section class="w-full m-auto px-3 bg-eucalyptus-50">
  <div class="max-w-7xl m-auto">
    <masonry-layout
      class="lg:mx-auto"
      id="gallery"
      cols="3"
      gap="15"
      maxcolwidth="100"
    >
      <a
        class="rounded-md overflow-hidden"
        href="/img1.jpg"
        data-pswp-width="1600"
        data-pswp-height="1600"
        target="_blank"
        data-cropped="true"
      >
        <img src="/img1.jpg" alt="" loading="lazy" />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/img5.jpg"
        data-pswp-width="1600"
        data-pswp-height="1200"
        target="_blank"
      >
        <img src="/img5.jpg" alt="" />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/img2.jpg"
        data-pswp-width="1600"
        data-pswp-height="1600"
        target="_blank"
      >
        <img src="/img2.jpg" alt="" />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/img3.jpg"
        data-pswp-width="1600"
        data-pswp-height="1600"
        target="_blank"
      >
        <img src="/img3.jpg" alt="" />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/img4.jpg"
        data-pswp-width="1600"
        data-pswp-height="1600"
        target="_blank"
      >
        <img src="/img4.jpg" alt="" />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/img6.jpg"
        data-pswp-width="1600"
        data-pswp-height="1204"
        target="_blank"
      >
        <img src="/img6.jpg" alt="" />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/teachers.webp"
        data-pswp-width="1600"
        data-pswp-height="1204"
        target="_blank"
      >
        <img src="/teachers.webp" alt="" />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/students.webp"
        data-pswp-width="700"
        data-pswp-height="322"
        target="_blank"
      >
        <img src="/students.webp" alt="" />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/direction.jpg"
        data-pswp-width="1600"
        data-pswp-height="1200"
        target="_blank"
      >
        <img src="/direction.jpg" alt="" />
      </a>
    </masonry-layout>
  </div>
</section>
<script>
  window.addEventListener("resize", () => {
    const $masonry = document.querySelector("masonry-layout")
    if (window.screen.width < 660) {
      $masonry?.setAttribute("cols", "2")
    } else {
      $masonry?.setAttribute("cols", "3")
    }
  })

  window.addEventListener("DOMContentLoaded", async () => {
    try {
      await import("@appnest/masonry-layout")
      const module = await import("photoswipe/lightbox")
      const PhotoSwipeLightbox = module.default
      const lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
      })
      lightbox.init()
    } catch (error) {
      console.log(error)
    }
  })
  document.querySelector("masonry-layout")?.scheduleLayout()
</script>
