---

---

<section class="w-full m-auto px-3 bg-eucalyptus-50">
  <div class="max-w-7xl m-auto">
    <masonry-layout
      class="lg:mx-auto"
      id="gallery"
      cols="3"
      gap="12"
      maxcolwidth="100"
    >
      <a
        class="rounded-md overflow-hidden"
        href="/img1.webp"
        data-pswp-width="1600"
        data-pswp-height="1600"
        target="_blank"
        aria-label="Imagen de la subdirectora del colegio"
      >
        <img
          fetchpriority="low"
          src="/img1.webp"
          width="1600"
          height="1600"
          alt=""
          loading="lazy"
        />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/img5.webp"
        data-pswp-width="1600"
        data-pswp-height="1200"
        target="_blank"
        aria-label="Imagen del aula de computación"
      >
        <img
          fetchpriority="low"
          src="/img5.webp"
          width="1600"
          height="1200"
          alt=""
          loading="lazy"
        />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/img2.webp"
        data-pswp-width="1600"
        data-pswp-height="1600"
        target="_blank"
        aria-label="Alumnos en la formación"
      >
        <img
          fetchpriority="low"
          src="/img2.webp"
          width="1600"
          height="1600"
          alt=""
          loading="lazy"
        />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/img3.webp"
        data-pswp-width="1600"
        data-pswp-height="1600"
        target="_blank"
        aria-label="Conferencia en el auditorio"
      >
        <img
          fetchpriority="low"
          src="/img3.webp"
          width="1600"
          height="1600"
          alt=""
          loading="lazy"
        />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/img4.webp"
        data-pswp-width="1600"
        data-pswp-height="1600"
        target="_blank"
        aria-label="Alumnas en formación"
      >
        <img
          fetchpriority="low"
          src="/img4.webp"
          width="1600"
          height="1600"
          alt=""
          loading="lazy"
        />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/img6.webp"
        data-pswp-width="1600"
        data-pswp-height="1204"
        target="_blank"
        aria-label="Aula de conmputación"
      >
        <img
          fetchpriority="low"
          src="/img6.webp"
          width="1600"
          height="1204"
          alt=""
          loading="lazy"
        />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/teachers.webp"
        data-pswp-width="1600"
        data-pswp-height="1204"
        target="_blank"
        aria-label="Profesores"
      >
        <img
          fetchpriority="low"
          src="/teachers.webp"
          width="1600"
          height="1204"
          alt=""
          loading="lazy"
        />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/students.webp"
        data-pswp-width="700"
        data-pswp-height="322"
        target="_blank"
        aria-label="Alumnos"
      >
        <img
          fetchpriority="low"
          src="/students.webp"
          width="700"
          height="322"
          alt=""
          loading="lazy"
        />
      </a>
      <a
        class="rounded-md overflow-hidden"
        href="/direction.jpg"
        data-pswp-width="1600"
        data-pswp-height="1200"
        target="_blank"
        aria-label="Dirección"
      >
        <img
          fetchpriority="low"
          src="/direction.jpg"
          width="1600"
          height="1200"
          alt=""
          loading="lazy"
        />
      </a>
    </masonry-layout>
  </div>
</section>
<script>
  window.addEventListener("load", () => {
    const $masonry = document.querySelector("masonry-layout")
    if (window.screen.width < 660) {
      $masonry?.setAttribute("cols", "2")
    } else {
      $masonry?.setAttribute("cols", "3")
    }
  })

  window.addEventListener("DOMContentLoaded", async () => {
    try {
      await import("@appnest/masonry-layout")
      await import("photoswipe/style.css")
      const module = await import("photoswipe/lightbox")
      const PhotoSwipeLightbox = module.default
      const lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
      })
      lightbox.init()
    } catch (error) {
      console.log(error)
      return
    }
  })
</script>
