<section class="w-full m-auto px-3 bg-eucalyptus-50">
  <div class="max-w-7xl m-auto flex flex-col md:gap-44 gap-20 pb-24">
    <article
      class="w-full flex md:flex-row flex-col gap-16 md:max-h-[700px] h-auto"
    >
      <div class="md:w-1/2 w-full flex flex-col gap-3">
        <h3 class="md:text-6xl text-3xl font-normal text-eucalyptus-800">
          Misión
        </h3>
        <p class="text-balance md:text-lg text-md text-eucalyptus-900">
          Hacer que nuestra institución brinde un servicio educativo de calidad,
          proyectado a una educación basada en valores sólidos y universales,
          impulsando un aprendizaje holístico que abarca no solo el desarrollo
          cognitivo, sino también el emocional, social y físico de los
          estudiantes, propiciando un clima de armonía y democracia con un
          equilibrio en el desarrollo de la inteligencia emocional, fomentando
          una comunicación empática y efectiva entre todos los miembros de la
          comunidad educativa, involucrando a directivos líderes proactivos y
          visionarios.
        </p>
        <p class="text-balance md:text-lg text-md text-eucalyptus-900">
          Docentes que actúan como mediadores y facilitadores del aprendizaje,
          utilizando metodologías innovadoras y tecnológicas, donde los alumnos
          sean verdaderos protagonistas de su propio aprendizaje, desarrollando
          habilidades de pensamiento crítico y creativo, y padres de familia
          comprometidos y activos en el proceso de aprendizaje de sus hijos,
          colaborando estrechamente con la escuela para crear un entorno de
          apoyo mutuo que potencie al máximo el desarrollo integral de cada
          estudiante.
        </p>
      </div>
      <div class="md:w-1/2 w-full">
        <picture class="block w-full h-full overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="/mision.webp"
            alt=""
          />
        </picture>
      </div>
    </article>
    <article
      class="w-full flex md:flex-row-reverse flex-col gap-16 md:max-h-[700px] h-auto"
    >
      <div class="md:w-1/2 w-full flex flex-col gap-3">
        <h3 class="md:text-6xl text-3xl font-normal text-eucalyptus-800">
          Visión
        </h3>
        <p class="text-balance md:text-lg text-md text-eucalyptus-900">
          Pretendemos mejorar la calidad educativa mediante el desarrollo del
          pensamiento, a través de un currículo humanístico, cognitivo y
          valorativo, una educación en democracia, educación para el trabajo,
          basada en valores cristianos, orientada a promover el desarrollo de
          actitudes para lograr una identidad personal, comunal, institucional y
          nacional, que permita formar estudiantes con capacidad creativa,
          critica, emprendedora e innovadora; con un equilibrio de inteligencia
          emocional, un espíritu de solidaridad, justicia, paz y una elevada
          autoestima.
        </p>
        <p class="text-balance md:text-lg text-md text-eucalyptus-900">
          Comprometida con el cambio social de su comunidad a través del
          desarrollo de actividades productivas, vinculadas a la defensa de la
          ecología y acorde con el avance y desarrollo de una educación
          científica y tecnológica. Para irradiar de este modo, una institución
          de calidad con perspectivas de alcanzar una excelencia educativa.
        </p>
      </div>
      <div class="md:w-1/2 w-full">
        <picture class="block w-full h-full overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="/vision.webp"
            alt=""
          />
        </picture>
      </div>
    </article>
    <article
      class="w-full flex md:flex-row flex-col gap-16 md:max-h-[700px] h-auto"
    >
      <div class="md:w-1/2 w-full flex flex-col gap-3">
        <h3 class="md:text-6xl text-3xl font-normal text-eucalyptus-800">
          Objetivos Institucionales
        </h3>
        <ul>
          <li
            class="text-balance text-lg list-disc text-eucalyptus-900 ml-[23px]"
          >
            Lograr una gestión eficaz en el aspecto pedagógico y administrativo
            para superar el ausentismo escolar
          </li>
          <li
            class="text-balance text-lg list-disc text-eucalyptus-900 ml-[23px]"
          >
            Implementar los diversos talleres para potenciar el aprendizaje de
            los estudiantes
          </li>
          <li
            class="text-balance text-lg list-disc text-eucalyptus-900 ml-[23px]"
          >
            Concienciar a los agentes educativos para desarrollar la práctica de
            valores
          </li>
          <li
            class="text-balance text-lg list-disc text-eucalyptus-900 ml-[23px]"
          >
            Consolidar el proceso de diversificación curricular para el
            mejoramiento de la calidad educativa acorde al contexto.
          </li>
          <li
            class="text-balance text-lg list-disc text-eucalyptus-900 ml-[23px]"
          >
            Sensibilizar a la comunidad educativa en el mejoramiento y
            conservación del ambiente
          </li>
        </ul>
      </div>
      <div class="md:w-1/2 w-full">
        <picture class="block w-full h-full overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="/objetivos.webp"
            alt=""
          />
        </picture>
      </div>
    </article>
  </div>
</section>
