---
interface Props {
  title: string
}
import "@fontsource-variable/outfit"
const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/cueto_logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Colegio Carlos Cueto Fernandini, una institución educativa ubicada en la ciudad de San Carlos, Departamento de Colón, Provincia de Río Negrito, Argentina. Brindamos educación de calidad con programas y talleres exclusivos."
    />
    <meta name="author" content="Carlos Cueto Fernandini" />
    <meta name="keywords" content="colegio, cueto, fernandini, carlos, educacion, primaria, secundaria, educación, profesores, alumnos" />
    <meta name="language" content="es" />
    <meta name="robots" content="index, follow" />
    <link rel="preload" as="video" href="/home.mp4" type="video/mp4">
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Outfit Variable", sans-serif;
    background: #13151a;
    background-size: 224px;
    scroll-behavior: smooth;
  }
</style>
